<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="TSDBServerName" value="TSDB_server" />
		<add key="TSDBServerURL" value="http://192.168.0.104:98" />
		<add key="TSDBLogin" value="admin" />
		<add key="TSDBPassword" value="2]M:Xa){Fj*8@?2R" />
	</appSettings>
</configuration>